
/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
@font-face{
	font-family: Nexa-Light;
	src: url("font/nexa/Nexa-Light.otf")format("opentype");
	font-family: Nexa-Bold;
	src: url("font/nexa/Nexa-Bold.otf")format("opentype");
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	/*text-align: center; /* center the content in this block by default */
}

/*
	Here we are defining our default column widths with the intention
	of keeping it 'mobile first'
*/
.grid-col-1of1, .grid-col-5of10, .grid-col-2of10 {
	width: 100%;
}

.grid-col-1of2, .grid-col-2of2 {
	width: 50%;
}

/*
	Here we are clearing floated items to ensure that
	our 'grid' structure can have different rows
*/
.grid-row:after {
	content: "";
	display: block;
	clear: both;
}
/*
	#D9CBBF
*/
body{
	  font-family:Nexa;	
	  /* old  background-color: #D9CBBF; */
	  background-color: #FFF;
	  margin:0;
	  padding:0;
	  letter-spacing: .08em;
}

nav{
	line-height: 4em;
	margin:0;
	padding:0;
}

.footer{
	margin:0;
	padding:2%;
}

.logo-klide {
	background-color:#324359;
	font-family: Nexa-Bold;
	font-size:3rem;
	color: #FFF;
	width: 50%;
	display: block;
	float:left;
	text-align: center;
}

.logo-klide a{
	text-decoration: none;
	color:inherit;
	letter-spacing: .06em;
}

.menu-cart{	
	background-color:#324359;
	color: #FFF;
	font-family: Nexa-Bold;
	float:right;
	display:block;
	width:100%;
	padding:0;
	margin:0;
	line-height: 3em;
}

.menu-cart a{
	float:right;
	text-align: center;
	text-decoration: none;
	color:inherit;
	padding-right:5%;
	margin:0;
}

.menu-klide{
	background-color:#324359;
	color: #FFF;
	font-family: Nexa-Bold;
	width: 50%;
	display: block;
	float: left;
	letter-spacing: .08em;
}

.menu-klide ul{
	list-style-type: none;
	text-align: justify;
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
}
.menu-klide ul li{
	text-align: justify;
	display: inline-block;
	margin: 0 2em 0 2em;
}
.menu-klide ul li a{
	text-align: center;
	text-decoration: none;
	color:inherit;
	margin: 0 auto;	
	display: block;
}

.small-menu-klide{
	display:none;
}

img:hover{
	opacity:.5;
}

/*
	The Home page
*/

.content-home{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}

.home-img{
	width:100%;
	margin:0;
	padding:0;
	display:inline-block;
}

.home-img img:hover, .about-imgsection img:hover, .img-highlight:hover{
	opacity:1;
}

.home-img img{
	width:100%;
}

.home-layout1{
	float:left;
	width:49%;
	text-align: left;
	margin:0;
	padding:2em 5% 0 5%;
	display:block;
}

.home-layout1 img{
	width:100%;
}

.home-layout2{
	float:left;
	width:49%;
	text-align: right;
	margin:0;
	padding:2em 5% 0 5%;
	display:block;
}

.home-layout2 img{
	width:100%;
}

.espace{
	position:relative;
	width:49%;
	display:inline-block;
	line-height: 100px;
}

/* 
	This is where the media quiries will happen
*/
@media (min-width: 50em) {

	.grid-col-5of10 {
		width: 50%;
	}

}

@media(max-width: 1450px){
	.logo-klide{
		width:33.33%;
	}
	
	.menu-klide{
		width:66.66%;
	}
	
	.home-layout1{
		width:100%;
	}
	.home-layout2{
		width:100%;
	}
	
}

@media(max-width: 1100px){
	.logo-klide{
		width:20%;
	}
	
	.menu-klide{
		width:80%;
	}
}

@media(max-width: 900px){
	.logo-klide{
		width:50%;
	}
	
	.small-menu-klide{
		background-color:#324359;
		width: 50%;
		display: block;
		float: left;
	}	
	.menu-klide{
		display: none;
	}
}

/*
	The Shop page
*/

.content-shop{
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

.shoeA{
	margin:0;
	padding-top: 2em;
	width:100%;
	display:inline-block;
}

.shoeA-text{
	text-align: left;
	width:33%;
	float:left;
	padding:5em;
	text-align:center;
	display:block;
}

.shoeA-imgs{
	text-align: right;
	margin:0;
	padding:0;
	width:66%;
	display:inline-block;
}

.shoeA-imgs a{
	text-decoration:none;
}

.shoeB{
	width:100%;
}

.shoeB-text{
	text-align: center;
	width:33%;
	float:right;
	padding:5em;
	display:block;
}

.shoeB-imgs{
	text-align: left;
	margin:0;
	padding:0;
	width:66%;
	float:left;
	display:block;
}

.shoeB-imgs a{
	text-decoration:none;
}

@media(max-width: 1400px){
	
	.shoeA-text{
		width:100%;
	}
	
	.shoeA-imgs{
		width:100%;
	}
	.shoeB-text{
		width:100%;
	}
	
	.shoeB-imgs{
		width:100%;
	}
	
}

/*
	The Collection page
*/

.content-collection{
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

.collectionA-shoe{
	width:50%;
	float:left;
	display: block;
	padding:2em 5% 0 5%;
}

.collectionA-title{
	width:49%;
	float:right;
	padding:10em;
	display:block;
}

.collection-imgs{
	width:100%;
	float:left;
	display:block;
	padding:2em 5% 0 5%;
}

.collection-imgs img{
	width:24%;	
}

.collectionB-shoe{
	text-align: right;
	width:50%;
	float:left;
	display: block;
	padding:2em 5% 0 5%;
}

.collectionB-title{
	text-align: right;
	width:49%;
	float:left;
	display:block;
	padding:10em;
}

@media(max-width:1300px){
	.collectionA-title{
		width:40%;
	}
	.collectionA-shoe{
		width:59%;
	}
}

@media(max-width:850px){
	.collectionA-title{
		width:100%;
		text-align: center;
		padding:2em 0 0 0;
	}
	.collectionB-title{
		width: 100%;
		text-align: center;
		padding:2em 0 0 0;
	}
	.collectionA-shoe{
		width:100%;
	}
	.collectionA-shoe img{
		width:100%;
	}
	.collectionB-shoe{
		width:100%;
	}
	.collectionB-shoe img{
		width:100%;
	}
}

/*
	The Cart page
*/

.content-cart{
	width:100%;
	padding:0;
	margin:0;
}

.cart-heading{
	float:left;
	width:100%;
	display: block;
	padding-top: 2em;
	padding-left:20%;
}

.cart-img{
	width:50%;
	float:left;
	display:block;
	padding-top: 2em;
	text-align: center;	
}

.cart-container{
	width:50%;
	float:left;
	display:block;
}

.cart-size{
	width:20%;
	float:left;
	display:block;
}

.cart-size h3{
	line-height: 100px;
	display:block;
}

.cart-amount{
	width:20%;
	float:left;
	display:block;
}

.cart-amount h3{
	padding:0;
	line-height: 100px;
	display:block;
}

.cart-price{
	width:20%;
	float:left;
	display:block;
}

.cart-price h3{
	line-height: 100px;
	display:block;
}

.cart-price p{
	line-height: 80px;
	margin:0;
	padding:0;
	font-size: 1.5em;
	display:block;
}

select{
	padding:1em;
	background-color: #746A5F;
	color:#FFF;
}

select option{
	padding:1em;
	
}

.button-checkout {
	padding:.75em;
	display:inline-block;
	color: #FFF;
	background-color: #324359;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-checkout:hover, .button-checkout:focus {
  	background-color: #746A5F;
}

@media(max-width:800px){

	.cart-img{
		width:100%;
	}
	.cart-container{
		padding-left:30%;
		width:100%;
	}
	
}

/*
	The About page
*/
.content-about{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.about-text{
	margin:0;
	padding:1em;
	width:39%;
	display:block;
	float:left;
}
.about-title{
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
	display:block;
	float:left;
}
.about-body{
	margin:0;
	padding:0;
	text-align:justify;
	width:100%;
	display:block;
	float:left;
}
.about-imgsection{
	margin:0;
	padding:0;
	width:59%;
	display:block;
	float:left;
}
.about-imgsection img{
	/*needs float for image resize*/
	margin:0;
	padding:0;
	height:90%;
	width:100%;
	text-align:right;
	text-align:top;
	display:block;
	float:left;
}

.about-imgsection h1{
	/*needs float for about resize*/
	margin:0;
	padding:0;
	width:100%;
	font-size:10em;
	text-align:center;
	letter-spacing: .9em;
	text-align:top;
	display:block;
	float:left;
}

.about-imgsection h1{
	/*needs float for about resize*/
	margin:0;
	padding:0;
	width:100%;
	font-size:10em;
	text-align:center;
	letter-spacing: .9em;
	text-align:top;
	display:inline-block;
}

@media(max-width:900px){
	.about-imgsection{
		width:100%;
	}
	.about-text{
		width:100%;
	}
}

/*
	The Contact page
*/
.content-contact{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.contact-faq{
	margin:0;
	padding-left:5%;
	width:49%;
	float:left;
	display:block;
}
.faq-title{
	margin:0;
	padding:0;
	padding-top:2em;
	text-align:left;
	width:50%;
	display:inline-block;
}
.faq-questions{
	margin:0;
	padding:0;
	text-align:left;
	width:50%;
	display:inline-block;
}


.contact-right{
	margin:0;
	padding:0;
	width:50%;
	float:left;
	display:block;
}
.right-top{
	margin:0;
	padding:0;
	padding-top:2em;
	width:50%;
	text-align:left;
	display:inline-block;
}
.right-bottom{
	margin:0;
	padding:0;
	width:50%;
	text-align:left;
	display:inline-block;
}

.input-text{
	font-family: "Nexa Light";
	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

.input-textarea{
	display: block;
	font-family: "Nexa Light";
  	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

.button-submit{
	float:left;
	display: block;
	padding: .75em;
	margin-top:5%;
	color: #FFF;
	background-color: #324359;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus{
  background-color: #746A5F;
}

/*
	The Detail Page
*/

.content-detail{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}

.detail-name{
	width:33%;
	float:left;
	display:block;
	padding:0;
	text-align:center;
}

.detail-name h1{
	padding:25%;
}

.detail-img{
	width:33%;
	float:left;
	display:block;
	padding:0;
}

.detail-img-bottom{
	padding:0;
	display:block;
}

.detail-img-bottom img{
	float:left;
	display:block;
	max-width:100px;
	max-height:100px;
}

.detail-info{
	width:33%;
	float:left;
	display:block;
	padding-top:5%;
}

.detail-sizebox{
  display: inline-block;
  padding: .75em;
  color: #FFF;
  background-color: #324359;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.detail-sizebox:hover, .detail-sizebox:focus {
  background-color: #746A5F;
}

.button-add {
  display: inline-block;
  padding: .75em;
  color: #FFF;
  background-color: #324359;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-add:hover, .button-add:focus {
  background-color: #746A5F;
}

.detail-review{
	float:left;
	display:block;
	padding:0;
	padding-top:5em;
	width:100%;
	padding-left:5%;
}

.input-rating{
	text-align: center;
	display:inline-block;
}

.rating-number{
	float:left;
	display:block;
}

.review{
	width:49%;
	float:left;
	display:block;
}

.detail-similar{
	padding-left:25%;
	float:left;
	display:block;
	width:100%;
}

.similar-text{
	padding-top:8%;
	float:left;
	display:block;
	width:20%;
}

.similar-img{
	float:left;
	display:block;
	width:79%;
}

.grid-col-1of3, .grid-col-2of3, .grid-col-3of3{
	width:33.33%;
	padding:1em;
}

@media(max-width:1600px){
	.detail-similar{
		padding-left:15%;
	}

}

@media(max-width:1400px){
	.detail-similar{
		padding-left:5%;
	}

}

@media(max-width:1300px){
	.similar-text{
		width:100%;
		text-align: center;
	}
	.similar-img{
		width:100%;
		text-align: center;
	}
}

@media(max-width:1000px){
	.detail-similar{
		padding-left:0;
	}
	.detail-name{
		float:middle;
		width:100%;
		text-align: center;
	}
	.detail-name h1{
		padding-top:2em;
		padding-bottom:0;
	}
	.detail-img{
		padding-left:5%;
		width:50%;
	}
	.review{
		width:100%;
	}
	.detail-review{
		padding-top:5em;
		padding-left:5%;
	}
	.detail-info{
		padding:5%;
		width:50%;
	}
}

@media(max-width:750px){

}

/*
	The Checkout Page
*/

.content-checkout{
	width:100%;
	margin:0;
	padding:0;
	display:block;
}

.checkout-header{
	display:block;
	float:left;
	width:100%;
	padding-top:2em;
	padding-left:15%;
	padding-right:15%;
}

.checkout-left{
	padding-left:5%;
	padding-right:5%;
	width:50%;
	float:left;
	display:block;
}

.checkout-right{
	width:50%;
	float:left;
	display:block;
}

.creditcard{
	display:block;
}

.credit{
	display:inline-block;
}

label{
	text-align: initial;
	display: block;
	padding-top: .3em;
	padding-bottom: .3em;
}

.input-text1{
	width:75%;
	font-family: "Nexa Light";
	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

.input-text2{
	width:75%;
	font-family: "Nexa Light";
	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

/*
	The News Page
*/

.content-news{
	width:100%;
}

.news-block{
	float:left;
	display:block;
	padding:1em;
	width:25%;
}

@media(max-width: 1400px){
	.news-block{
		width:50%;
	}
}

@media(max-width: 900px){
	.news-block{
		width:100%;
	}
}


/*
	The Thanks Page
*/

.content-thanks{
	float:left;
	display:block;
	width:100%;
	margin:0;
	padding:0;
	padding-top: 2em;
	text-align:center;
}