
/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
@font-face{
	font-family: Nexa-Light;
	src: url("font/nexa/Nexa-Light.otf")format("opentype");
	font-family: Nexa-Bold;
	src: url("font/nexa/Nexa-Bold.otf")format("opentype");
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; /* center the content in this block by default */
}

/*
	Here we are defining our default column widths with the intention
	of keeping it 'mobile first'
*/
.grid-col-5of10, .grid-col-2of10 {
	width: 100%;
}

/*
	Here we are clearing floated items to ensure that
	our 'grid' structure can have different rows
*/
.grid-row:after {
	content: "";
	display: block;
	clear: both;
}
/*
	#D9CBBF
*/
body{
	  font-family:Nexa;	
	  /*background-color: #D9CBBF;*/
	  background-color: #FFFFFF;
	  margin:0;
	  padding:0;
}

nav{
	line-height: 4em;
	margin:0;
	padding:0;
}


.logo-klide {
	background-color:#324359;
	font-family: Nexa-Bold;
	color: #FFF;
	width: 50%;
	display: block;
	float:left;
	text-align: center;
}

.logo-klide a{
	text-decoration: none;
	color:inherit;
	letter-spacing: .06em;
}


.menu-klide{
	background-color:#324359;
	color: #FFF;
	font-family: Nexa-Bold;
	width: 50%;
	display: block;
	float: left;
	letter-spacing: .08em;
}

.menu-klide ul{
	list-style-type: none;
	text-align: justify;
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
}
.menu-klide ul li{
	text-align: justify;
	display: inline-block;
	margin: 0 2em 0 2em;
}
.menu-klide ul li a{
	text-align: center;
	text-decoration: none;
	color:inherit;
	margin: 0 auto;	
	display: block;
}

/*
	The Home page
*/

.content-home{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}

.home-img{
	width:100%;
	margin:0;
	padding:0;
	display:inline-block;
}

.home-img img{
	width:100%;
}

.home-layout1{
	width:49%;
	text-align: left;
	margin:0;
	padding:2em 10em 0 10em;
	display:inline-block;
}

.home-layout2{
	width:49%;
	text-align: right;
	margin:0;
	padding:2em 10em 0 10em;
	display:inline-block;
}

.espace{
	position:relative;
	width:49%;
	display:inline-block;
	line-height: 100px;
}

/* 
	This is where the media quiries will happen
*/
@media (min-width: 50em) {

	.grid-col-5of10 {
		width: 50%;
	}

}

@media(max-width: 1400px){
	.logo-klide{
		width:33.33%;
	}
	
	.menu-klide{
		width:66.66%;
	}
	
	.home-layout1{
		width:100%;
	}
	.home-layout2{
		width:100%;
	}
	
}

/*
	The Shop page
*/

.content-shop{
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

.shoeA{
	margin:0;
	padding-top: 2em;
	width:100%;
	display:inline-block;
}

.shoeA-text{
	text-align: left;
	width:33%;
	float:left;
	text-align:center;
	line-height:300px; /* should be the same height resolution of the image */
	display:table-cell;
}

.shoeA-imgs{
	text-align: right;
	margin:0;
	padding:0;
	width:66%;
	display:inline-block;
}

.shoeA-imgs a{
	text-decoration:none;
}

.shoeB{
	width:100%;
}

.shoeB-text{
	text-align: right;
	width:33%;
	float:right;
	text-align:center;
	line-height:300px; /* should be the same height resolution of the image */
	display:table-cell;
}

.shoeB-imgs{
	text-align: left;
	margin:0;
	padding:0;
	width:66%;
	display:inline-block;
}

.shoeB-imgs a{
	text-decoration:none;
}

/*
	The Collection page
*/

.content-collection{
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

.collectionA-shoe{
	width:49%;
	display: inline-block;
	padding:2em 10em 0 10em;
}

.collectionA-title{
	width:49%;
	float:right;
	display: table-cell; /* This centers it vertically */
	line-height: 400px;
}

.collection-imgs{
	width:100%;
	display:block;
	padding:2em 10em 0 10em;
}

.collectionB-shoe{
	text-align: right;
	width:48%;
	display: inline-block;
	padding:2em 10em 0 10em;
}

.collectionB-title{
	text-align: right;
	width:49%;
	float:left;
	display: table-cell; /* This centers it vertically */
	line-height: 400px;
}

.collectionC-shoe{
	width:49%;
	display: inline-block;
	padding:2em 10em 0 10em;
}

.collectionC-title{
	width:49%;
	float:right;
	display: table-cell; /* This centers it vertically */
	line-height: 400px;
}

/*
	The Cart page
*/

.content-cart{
	width:100%;
	padding:0;
	margin:0;
}

.cart-heading{
	width:100%;
	display: inline-block;
	padding-top: 2em;
	padding-left:20em;
}

.cart-img{
	width:33.33%;
	display: inline-block;
	padding-top: 2em;
	text-align: center;	
}

.cart-container{
	width:66%;
	float:right;
	line-height: 300px;
	display: table-cell;
}

.cart-size{
	width:20%;
	display:inline-block;
	line-height: 300px;
	text-align: justify;
	vertical-align: middle;
}

.cart-size h3{
	line-height: 100px;
}

.cart-amount{
	width:20%;
	display:inline-block;
	line-height: 300px;
	text-align: justify;
	vertical-align: middle;
}

.cart-amount h3{
	line-height: 100px;
}

.cart-price{
	width:20%;
	display:inline-block;
	line-height: 300px;
	text-align: justify;
	vertical-align: middle;
}

.cart-price h3{
	line-height: 100px;
	margin:0;
}

.cart-price p{
	vertical-align: middle;
	line-height: 50px;
	margin:0;
	padding:0;
	font-size: 1.5em;
}

select{
	padding:1em;
	background-color: #746A5F;
	color:#FFF;
}

select option{
	padding:1em;
	
}

/*
	The About page
*/
.content-about{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.about-text{
	margin:0;
	padding:1em;
	width:39%;
	display:block;
	float:left;
}
.about-title{
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
	display:block;
	float:left;
}
.about-body{
	margin:0;
	padding:0;
	text-align:justify;
	width:100%;
	display:block;
	float:left;
}
.about-imgsection{
	margin:0;
	padding:0;
	width:59%;
	display:block;
	float:left;
}
.about-imgsection img{
	/*needs float for image resize*/
	margin:0;
	padding:0;
	width:100%;
	text-align:right;
	text-align:top;
	display:block;
	float:left;
}

.about-imgsection h1{
	/*needs float for about resize*/
	margin:0;
	padding:0;
	width:100%;
	font-size:10em;
	text-align:center;
	letter-spacing: .9em;
	text-align:top;
	display:block;
	float:left;
}
/*
	The Contact page
*/
.content-contact{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.contact-faq{
	margin:0;
	padding-left:2em;
	width:49%;
	float:left;
	display:block;
}
.faq-title{
	margin:0;
	padding:0;
	text-align:left;
	width:50%;
	display:inline-block;
}
.faq-questions{
	margin:0;
	padding:0;
	text-align:left;
	width:80%;
	display:inline-block;
}


.contact-right{
	margin:0;
	padding:0;
	width:50%;
	float:left;
	display:block;
}
.right-top{
	margin:0;
	padding:0;
	width:50%;
	text-align:left;
	display:inline-block;
}
.right-bottom{
	margin:0;
	padding:0;
	width:50%;
	text-align:left;
	display:inline-block;
}

.input-text{
	font-family: "Nexa Light";
	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

.input-textarea{
	display: block;
	font-family: "Nexa Light";
  	color: #FFF;
	background-color:#746A5F;
	border: 1px solid #746A5F; 
	padding: .5em;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: none;
}

.button-submit{
	float:left;
	display: block;
	padding: .75em;
	margin-top:5%;
	color: #FFF;
	background-color: #324359;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus{
  background-color: #746A5F;
}


/*
	The Detail Page
*/

.content-detail{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}

.detail-name{
	width:33%;
	float:left;
	display:block;
	padding:0;
	text-align:center;
}

.detail-name h1{
	float:left;
	display:block;
	padding:25%;
}

.detail-img{
	width:33%;
	float:left;
	display:block;
	padding:0;
}

.detail-img-bottom img{
	float:left;
	height:auto;
	width:auto;
	max-width:100px;
	max-height:100px;
}

.detail-info{
	width:33%;
	float:left;
	display:block;
	padding-top:5%;
}

.detail-sizebox{
  display: inline-block;
  padding: .75em;
  color: #FFF;
  background-color: #324359;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.detail-sizebox:hover, .detail-sizebox:focus {
  background-color: #746A5F;
}

/*
	Thank you page
*/

.thanks{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
}
.button-add {
  display: inline-block;
  padding: .75em;
  color: #FFF;
  background-color: #324359;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-add:hover, .button-add:focus {
  background-color: #746A5F;
}